{% extends "base.html" %}

{% block title %}Catálogo | SoundMarket{% endblock %}

{% block content %}
    <h1>Catálogo</h1>
    <ul>
        {% for product in products %}
            <li>{{ product.name }}</li>
        {% empty %}
            <li>No hay productos disponibles en este momento.</li>
        {% endfor %}
    </ul>
    {% if products.has_previous %}
        <a href="?page={{ products.previous_page_number }}">Anterior</a>
    {% endif %}
    {% if products.has_next %}
        <a href="?page={{ products.next_page_number }}">Siguiente</a>
    {% endif %}
{% endblock %}
